Requests==2.31.0
beautifulsoup4==4.12.3
chart==0.2.3
dependency_injector==4.41.0
everytools==0.0.1.2
Flask==2.3.2
flask_marshmallow==1.2.1
jellyfinapi==10.8.5
label==0.1.1
Markdown==3.7
marshmallow==3.19.0
psycopg2==2.9.3
pytest==7.3.1
python_qbittorrent==0.4.3
PyYAML==6.0
redis==4.5.5

series==2.35.36
PyMySQL==1.0.3
SQLAlchemy==2.0.15
